name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v4
        - uses: dtolnay/rust-toolchain@nightly
          with:
            components: rustfmt, clippy
        - uses: taiki-e/install-action@nextest
        - name: Cache
          uses: actions/cache@v3
          continue-on-error: false
          with:
            path: |
              ~/.cargo/registry/index/
              ~/.cargo/registry/cache/
              ~/.cargo/git/db/
            key: cargo-test-${{ hashFiles('**/Cargo.lock') }}
            restore-keys: cargo-test-   
        - name: clippy
          run: cargo +nightly clippy --workspace --all-targets --all-features -- -D warnings
        - name: test
          run: cargo nextest --workspace --all-targets --all-features -- -D warnings
